@font-face{
	font-family: 'Guerrilla';
	src: url('../fonts/Guerrilla.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
.clearfix:after{
	display: table;
	content: "";
	clear: both;
}
body{
	font-family: 'Guerrilla', sans-serif;
	color: yellow;
	background: black;
	background: url(../img/bg.jpg);
	height: 2000px;
	text-transform: uppercase;
	text-shadow: 0 0 10px white;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.header-main{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: black;
	background: url(../img/bg-header.jpg);
	z-index: 999;
}
.header-main .menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
.header-main a{
	display: block;
	padding: 5px;
	margin: 0 10px;
	font-size: 25px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	border: 5px solid transparent;
	border-radius: 5px;
	overflow: none;
}
.header-main a:hover,
.header-main a:active{
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
}
.header-main .menu-btn{
	display: none;
}
.header-main .menu-btn.on .one {
	transform: rotate(45deg) translate(7px, 7px);
}
.header-main .menu-btn.on .two {
	opacity: 0;
}
.header-main .menu-btn.on .three {
	transform: rotate(-45deg) translate(7px, -7px);
}

.header-main .one,
.header-main .two,
.header-main .three {
  width: 100%;
  height: 4px;
  background: black;
  margin: 6px auto;
  border-radius: 2px;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px white;
}
.main-photo{
	display: block;
	margin-top: 70px;
	box-shadow: 0 0 20px #fff;
	position: relative;
}
.main-photo .img{
	display: block;
	width: 100%;
}
.main-photo .vint{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/main-photo-vint.png);
	z-index: 2;
	box-shadow: 0 0 5px white;
}
.main-photo .vint1{
	top: 10px;
	left: 10px;
}
.main-photo .vint2{
	top: 10px;
	right: 10px;
}
.main-photo .vint3{
	bottom: 10px;
	left: 10px;
}
.main-photo .vint4{
	bottom: 10px;
	right: 10px;
}
.news .h2{
	width: 300px;
	margin: 30px auto 10px;
	text-align: center;
	font-size: 30px;
	padding: 5px 0;
	color: #333;
	background: url(../img/bg-header.jpg);
	box-shadow: 0 0 10px white;
}
.news .news-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.news .news-item{
	position: relative;
	width: 30%;
	min-width: 300px;
	height: 300px;
	margin: 10px;
	background: url(../img/bg-header.jpg);
	box-shadow: 0 0 10px white;
}
.news .vint{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/main-photo-vint.png);
	z-index: 2;
	box-shadow: 0 0 5px white;
}
.news .vint1{
	top: 10px;
	left: 10px;
}
.news .vint2{
	top: 10px;
	right: 10px;
}
.news .vint3{
	bottom: 10px;
	left: 10px;
}
.news .vint4{
	bottom: 10px;
	right: 10px;
}
.news .more{
	width: 300px;
	margin: 0 auto;
}
.news a{
	display: block;
	padding: 5px 0;
	font-size: 30px;
	color: #333;
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	background: url(../img/bg-header.jpg);
	box-shadow: 0 0 5px #fff;
	border-radius: 22px
}
.news a:hover,
.news a:active{
	background: url(../img/bg-header-dark.jpg);
}
.music .h2{
	width: 300px;
	margin: 30px auto 20px;
	text-align: center;
	font-size: 30px;
	padding: 5px 0;
	color: #333;
	background: url(../img/bg-header.jpg);
	box-shadow: 0 0 10px white;
}
.music audio{
	display: block;
	margin: 20px auto;
}
.music .play-list{
	width: 320px;
	margin: 20px auto;
	box-shadow: 0 0 10px white;
	position: relative;
	border-radius: 5px;
}
.music ol{
	list-style-type: none;
	border-radius: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: url(../img/bg-header.jpg)
}
.music ol a{
	display: block;
	padding: 5px 10px;
	font-size: 25px;
	color: #333;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
}
.music ol a:hover{
	transform: scale(1.2);
}
.music li.playing a{
	transform: scale(1.2);
}
.music .vint{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/main-photo-vint.png);
	z-index: 2;
	box-shadow: 0 0 5px white;
}
.music .vint1{
	top: 10px;
	left: 10px;
}
.music .vint2{
	top: 10px;
	right: 10px;
}
.music .vint3{
	bottom: 10px;
	left: 10px;
}
.music .vint4{
	bottom: 10px;
	right: 10px;
}
.music .more a{
	display: block;
	padding: 5px 0;
	font-size: 30px;
	color: #333;
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	background: url(../img/bg-header.jpg);
	box-shadow: 0 0 5px #fff;
	border-radius: 22px;
}
.music .more a:hover,
.music .more a:active{
	background: url(../img/bg-header-dark.jpg);
}
.music .more{
	width: 300px;
	margin: 0 auto;
}
.video .h2{
	width: 300px;
	margin: 30px auto 20px;
	text-align: center;
	font-size: 30px;
	padding: 5px 0;
	color: #333;
	background: url(../img/bg-header.jpg);
	box-shadow: 0 0 10px white;
}
.video .youtube-block{
	position: relative;
	max-width: 700px;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 0 10px white;
	margin-bottom: 30px;
}
.video .youtube{
	display: block;
	border-radius: 5px;
	background: url(../img/bg-header-dark.jpg);
}
.video .control{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	height: 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px white
}
.video .play-btn{
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url(../img/play.png);
	border-radius: 25px;
	z-index: 2;
	cursor: pointer;
	box-shadow: 0 0 10px black;
}
.video .pause-btn{
	display: none;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url(../img/pause.png);
	border-radius: 25px;
	z-index: 2;
	cursor: pointer;
	box-shadow: 0 0 10px black;
}
.video .more a{
	display: block;
	padding: 5px 0;
	font-size: 30px;
	color: #333;
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	background: url(../img/bg-header.jpg);
	box-shadow: 0 0 5px #fff;
	border-radius: 22px;
}
.video .more a:hover,
.video .more a:active{
	background: url(../img/bg-header-dark.jpg)
}
.video .more{
	width: 300px;
	margin: 0 auto;
}
/*.photo .photo-block{
	display: flex;
	justify-content: space-around;
}
.photo .photo-item{
	margin-top: 20px;
	width: 30%;
	border: 2px solid yellow;
}
.photo .photo-item img{
	display: block;
}
.main-footer{
	height: 100px;
	background: darkgreen;
}
*/
@media (max-width: 900px){
	.header-main .menu-btn{
		padding: 10px 20px 10px 10px;
		float: right;
		width: 30px;
		height: 30px;
		cursor: pointer;
		display: block;
	}
	.header-main .menu{
		flex-direction: column;
	}
	.header-main .menu:last-child{
		margin-bottom: 5px;
	}
	.header-main .menu a{
		max-width: 300px;
		margin: 0 auto;
	}
	a{
		border: none;
	}
	.header-main .flex-menu {
  		display: none;
	}
	.news .h2{
		font-size: 30px;
	}
	.concerts .h2{
		font-size: 30px;
	}
	.music .h2{
		font-size: 30px;
	}
}