@font-face{
	font-family: 'Guerrilla';
	src: url('../fonts/Guerrilla.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Guerrilla', sans-serif;
	color: yellow;
	background: black;
	background: url(../img/bg.jpg);
	text-transform: uppercase;
	text-shadow: 0 0 10px white;
}
.clearfix:after{
	display: table;
	content: "";
	clear: both;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}
.header-main{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: black;
	background: url(../img/bg-light.jpg);
	z-index: 999;
}
.header-main .menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
.header-main a{
	display: block;
	padding: 5px;
	margin: 0 10px;
	font-size: 25px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	border: 5px solid transparent;
	border-radius: 5px;
}
.header-main a:hover,
.header-main a:active{
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
}
.header-main .menu-btn{
	display: none;
}
.header-main .menu-btn.on .one {
	transform: rotate(45deg) translate(7px, 7px);
}
.header-main .menu-btn.on .two {
	opacity: 0;
}
.header-main .menu-btn.on .three {
	transform: rotate(-45deg) translate(7px, -7px);
}

.header-main .one,
.header-main .two,
.header-main .three {
  width: 100%;
  height: 4px;
  background: black;
  margin: 6px auto;
  border-radius: 2px;
  backface-visibility: hidden;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px white;
}
.main-photo{
	display: block;
	margin: 70px auto 30px;
	position: relative;
	padding: 0 20px;
}
.main-photo .img{
	display: block;
	width: 100%;
	box-shadow: 0 0 20px #fff;
	border-radius: 15px;
}
.main-photo .vint{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/main-photo-vint.png);
	z-index: 2;
	box-shadow: 0 0 5px white;
}
.main-photo .vint1{
	top: 10px;
	left: 30px;
}
.main-photo .vint2{
	top: 10px;
	right: 30px;
}
.main-photo .vint3{
	bottom: 10px;
	left: 30px;
}
.main-photo .vint4{
	bottom: 10px;
	right: 30px;
}
.news{
	margin: 30px auto;
	padding: 0 20px;
}
.news .h2{
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding: 10px 0;
	color: #333;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 10px white;
	border-radius: 15px 15px 0 0;
}
.news .news-block{
	width: 100%;	
	position: relative;
}
.news .news-item{
	height: 300px;
	background: url(../img/bg-header-dark.jpg);
	box-shadow: 0 0 20px #fff;
	border-radius: 0 0 15px 15px;
}
.news .vint{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/main-photo-vint.png);
	z-index: 2;
	box-shadow: 0 0 5px white;
}
.news .vint1{
	top: -42px;
	left: 10px;
}
.news .vint2{
	top: -42px;
	right: 10px;
}
.news .vint3{
	bottom: 10px;
	left: 10px;
}
.news .vint4{
	bottom: 10px;
	right: 10px;
}
.news .more{
	width: 280px;
	margin: 20px auto;
}
.news .more a{
	display: block;
	padding: 5px 0;
	font-size: 30px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 5px #fff;
	border-radius: 22px;
}
.news a:hover,
.news a:active{
	background: url(../img/bg-header-dark.jpg);
}
.music{
	margin: 30px auto;
	padding: 0 20px;
}
.music .h2{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	padding: 10px 0;
	color: #333;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 10px white;
	border-radius: 15px 15px 0 0;
}
.music audio{
	display: block;
	margin: 20px auto;
}
.music .play-list{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}
.music ol{
	list-style-type: none;
	border-radius: 0 0 15px 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 10px white;
}
.music ol a{
	display: block;
	padding: 5px 10px;
	font-size: 25px;
	color: #333;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
}
.music ol a:hover{
	text-shadow: 0 0 30px #000;
}
.music li.playing a{
	text-shadow: 0 0 30px #000;
}
.music .vint{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/main-photo-vint.png);
	z-index: 2;
	box-shadow: 0 0 5px white;
}
.music .vint1{
	top: -102px;
	left: 10px;
}
.music .vint2{
	top: -102px;
	right: 10px;
}
.music .vint3{
	bottom: 10px;
	left: 10px;
}
.music .vint4{
	bottom: 10px;
	right: 10px;
}
.music .more a{
	display: block;
	padding: 5px 0;
	font-size: 30px;
	color: #333;
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 5px #fff;
	border-radius: 22px;
}
.music .more a:hover,
.music .more a:active{
	background: url(../img/bg-header-dark.jpg);
}
.music .more{
	width: 280px;
	margin: 20px auto;
}
.video{
	margin: 30px auto
}
.video .h2{
	max-width: 1000px;
	margin: 30px auto 0;
	text-align: center;
	font-size: 30px;
	padding: 5px 0;
	color: #333;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 10px white;
	border-radius: 15px 15px 0 0;
}
.video{
	padding: 0 20px;
}
.video .youtube-block{
	position: relative;
	max-width: 1000px;
	display: block;
	margin: 0 auto;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 0 10px white;
	margin-bottom: 30px;
}
.video .youtube{
	display: block;
	width: 100%;
	border-radius: 0 0 15px 15px;
}
.video .control{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	height: 30px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 0 10px white
}
.video .play-btn{
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url(../img/play.png);
	border-radius: 25px;
	z-index: 2;
	cursor: pointer;
	box-shadow: 0 0 10px black;
}
.video .pause-btn{
	display: none;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url(../img/pause.png);
	border-radius: 25px;
	z-index: 2;
	cursor: pointer;
	box-shadow: 0 0 10px black;
}
.video .more a{
	display: block;
	padding: 5px 0;
	font-size: 30px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 5px #fff;
	border-radius: 22px;
}
.video .more a:hover,
.video .more a:active{
	background: url(../img/bg-header-dark.jpg)
}
.video .more{
	width: 280px;
	margin: 20px auto;
}
.photo{
	margin: 30px auto;
	padding: 0 20px;
}
.photo .h2{
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding: 10px 0;
	color: #333;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 10px white;
	border-radius: 15px 15px 0 0;
}
.photo .photo-block{
	width: 100%;	
	position: relative;
}
.photo .photo-item{
	height: 300px;
	background: url(../img/bg-header-dark.jpg);
	box-shadow: 0 0 20px #fff;
	border-radius: 0 0 15px 15px;
}
.photo .vint{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/main-photo-vint.png);
	z-index: 2;
	box-shadow: 0 0 5px white;
}
.photo .vint1{
	top: -42px;
	left: 10px;
}
.photo .vint2{
	top: -42px;
	right: 10px;
}
.photo .vint3{
	bottom: 10px;
	left: 10px;
}
.photo .vint4{
	bottom: 10px;
	right: 10px;
}
.photo .more{
	width: 280px;
	margin: 20px auto;
}
.photo a{
	display: block;
	padding: 5px 0;
	font-size: 30px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	background: url(../img/bg-light.jpg);
	box-shadow: 0 0 5px #fff;
	border-radius: 22px
}
.photo a:hover,
.photo a:active{
	background: url(../img/bg-header-dark.jpg);
}
.main-footer{
	box-shadow: 0 0 20px #fff;
	background: url(../img/bg-light.jpg);
	border-top: 1px solid transparent;
}
.main-footer .social{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.main-footer .social-btn{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
}
.main-footer a{
	margin: 5px 10px;
}
.main-footer .yt,
.main-footer .vk,
.main-footer .fb,
.main-footer .in{
	background-image: url(../img/social-btn.png);
}
.main-footer .vk{
	background-position: -40px 0;
}
.main-footer .fb{
	background-position: -80px 0;
}
.main-footer .in{
	background-position: -120px 0;
}
.main-footer .yt:hover,
.main-footer .yt:active{
	background-position:  0 -40px;
}
.main-footer .vk:hover,
.main-footer .vk:active{
	background-position:  -40px -40px;
}
.main-footer .fb:hover,
.main-footer .fb:active{
	background-position:  -80px -40px;
}
.main-footer .in:hover,
.main-footer .in:active{
	background-position:  -120px -40px;
}
@media (max-width: 900px){
	.header-main .menu-btn{
		padding: 10px 20px 10px 10px;
		float: right;
		width: 30px;
		height: 30px;
		cursor: pointer;
		display: block;
	}
	.header-main .menu{
		flex-direction: column;
	}
	.header-main .menu:last-child{
		margin-bottom: 5px;
	}
	.header-main .menu a{
		max-width: 300px;
		margin: 0 auto;
	}
	a{
		border: none;
	}
	.header-main .flex-menu {
  		display: none;
	}
	.news .h2{
		font-size: 20px;
	}
	.news .vint1{
		top: -37px;
	}
	.news .vint2{
		top: -37px;
	}
	.news .more a{
		font-size: 20px;
	}
	.music .h2{
		font-size: 20px;
	}
	.music .vint1{
		top: -97px;
	}
	.music .vint2{
		top: -97px;
	}
	.music ol a{
		font-size: 20px;
	}
	.music .more a{
		font-size: 20px;
	}
	.video .h2{
		font-size: 20px;
	}
	.video .more a{
		font-size: 20px;
	}
	.photo .h2{
		font-size: 20px;
	}
	.photo .vint1{
		top: -37px;
	}
	.photo .vint2{
		top: -37px;
	}
	.photo .more a{
		font-size: 20px;
	}
}